.contact{
    /* background-color: #24242b; */
    width: 100vw;
    min-height: 82vh;
    background-image:url(./my-bg-cover.jpg);
    background-size: cover;
    background-position: center;
    color:white;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: large;

   
    
    
}

.contact form .user-details{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

form .user-details .input-box{
    width:calc(100%/2 - 20px);
    margin: 20px 0 12px 0;
}

.user-details .input-box .details{
font-weight: bold;
margin-bottom: 5px;
display: block;

}

.user-details .input-box input{
    height: 45px;
    width: 50%;
    outline : none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition : all 0.3s ease;

}

form .gender-details{
    color:rgb(128, 81, 110); 
    font-weight: bold;
    font-size: large;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
    color:white;
    font-weight: bold;
    
}

form .gender-details .category{
    width: 80%;
    display: flex;
    margin: 14px 0;
    justify-content: space-between;
    
    


}

.gender-details .category label{
    display: flex;
    align-items: center;
    color:white;

}

.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: rgb(192, 169, 169);
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;

}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: rgb(128, 81, 110);
    background:rgb(192, 169, 169) ;
}

form input[type="radio"]{
    display: none;
}

form .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    
    
}

form .btn button{
    width: 40%;
    font-weight: bold;
}